* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  background-size: 100%;
}
.flex-grid-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  margin-top: 107px;
}
.item1 {
  align-self: flex-start;
}
.item2 {
  align-self: flex-end;
  font-size: x-large;
  color: hsl(210, 10%, 33%);
}
.item3 {
  align-self: center;

  font-size: x-large;
  width: 810px;
  text-align: center;
  font-weight: bold;
  color: hsl(201, 11%, 66%);
}
.item4 {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
}
.fon-1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fon-2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.item4 > button {
  padding: 20px;
  width: 250px;
  border-radius: 34px;
}
button {
  font-size: large;
  font-weight: bolder;
  color: white;
  border: none;
}
.btn1 {
  background-color: hsl(171, 66%, 44%);

  box-shadow: 0px 10px 30px 1px hsl(171, 68%, 81%);
}
.btn2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 10px 30px 1px hsl(203, 19%, 86%);
}

.text-m {
  color: hsl(201, 11%, 66%);
  line-height: 28px;
}
.header2 {
  display: grid;

  grid-template-rows: 0.7fr 1fr;
  justify-items: center;
  align-items: center;
}
.header2 > p {
  width: 630px;
  text-align: center;
  margin-bottom: 62px;
  row-gap: 34px;
}
.header2 > h1 {
  color: hsl(210, 10%, 33%);
}
.alpha-header1 {
  font-size: larger;

  color: hsl(210, 10%, 33%);
}
.alpha1 > p {
  color: hsl(201, 11%, 66%);
  width: 33ch;
  line-height: 27px;
}

.alpha2 > p {
  color: hsl(201, 11%, 66%);
  width: 33ch;
  line-height: 27px;
}
.alpha3 > p {
  color: hsl(201, 11%, 66%);
  width: 33ch;
  line-height: 27px;
}
.flex-grid-2 {
  display: flex;
  flex-direction: row;
}

.right-container {
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr;

  justify-items: left;
  align-items: center;
  width: 50%;
  margin-left: 100px;
}

.alpha1 {
  display: grid;
  grid-template-rows: 0.6fr 1fr;
}
.alpha2 {
  display: grid;
  grid-template-rows: 0.6fr 1fr;
}
.alpha3 {
  display: grid;
  grid-template-rows: 0.6fr 1fr;
}

.flex-grid-3 {
  display: grid;
  grid-template-rows: 0.7fr 1.8fr;
  justify-items: center;
  align-items: center;
  margin: 105px 0;
}

.flex-grid-3 > h1 {
  color: hsl(210, 10%, 33%);
}
.flex-grid-3 > p {
  color: hsl(201, 11%, 66%);
  width: 60ch;
  text-align: center;
  line-height: 27px;
}
.device {
  margin-top: 70px;
}
.supercharge {
  display: grid;
  grid-template-rows: 1fr 1.4fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}
.supercharge > p {
  color: hsl(201, 11%, 66%);
}
.supercharge > h1 {
  color: hsl(210, 10%, 33%);
}
.tricontainer {
  display: flex;

  width: 75%;
  margin: 0 auto;
  gap: 34px;
  margin-bottom: 90px;
}
.triitem1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 55ch;
  text-align: center;
}
.triitem2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 55ch;
  text-align: center;
}
.triitem3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 55ch;
  text-align: center;
}
.triitem1 > h2 {
  color: hsl(210, 10%, 33%);
}
.triitem2 > h2 {
  color: hsl(210, 10%, 33%);
}
.triitem3 > h2 {
  color: hsl(210, 10%, 33%);
}
.triitem1 > p {
  color: hsl(201, 11%, 66%);
  line-height: 27px;
}
.triitem2 > p {
  color: hsl(201, 11%, 66%);
  line-height: 27px;
  align-self: flex-start;
}
.triitem3 > p {
  color: hsl(201, 11%, 66%);
  line-height: 27px;
  align-self: flex-start;
}

.links {
  display: flex;

  justify-content: center;
  gap: 100px;
  margin-bottom: 90px;
}
.flex-grid-4 {
  display: grid;
  grid-template-rows: 1fr 2fr 1.7fr;
  justify-items: center;
  align-items: flex-start;
  gap: 34px;
  margin-bottom: 80px;
}
.flex-grid-4 > h1 {
  color: hsl(210, 10%, 33%);
  align-self: flex-end;
}
.flex-grid-4 > p {
  color: hsl(201, 11%, 66%);
  width: 58ch;
  text-align: center;
  line-height: 27px;
}
.last-container {
  background-color: hsl(210, 12%, 97%);
  display: grid;
  grid-template-columns: 1fr 2fr 1.6fr;
  justify-items: center;
  align-items: center;
  height: 155px;
}
.instruction {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  justify-items: center;
  align-items: center;

  width: 100%;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.footer1,
.footer2,
.footer3 {
  color: hsl(201, 11%, 66%);
}
.footer1,
.footer2,
.footer3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: flex-start;
  gap: 23px;
}

@media screen and (max-width: 900px) {
  body {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size: 100%;
    overflow-x: hidden;
  }
  .full-container {
  }
  .flex-grid-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
  }
  .item1 {
    align-self: center;
  }
  .item2 {
    align-self: center;
    font-size: 15px;
    color: hsl(210, 10%, 33%);
    width: 330px;
    text-align: center;
  }
  .item3 {
    align-self: center;

    font-size: 16px;
    width: 325px;
    text-align: center;
    font-weight: bold;
    color: hsl(201, 11%, 66%);
    text-align: center;
    line-height: 27px;
  }
  .item4 {
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    margin-bottom: 100px;
  }
  .item4 > button {
    width: 320px;
    align-self: center;
    justify-self: center;
  }
  .btn1,
  .btn2 {
    align-self: center;
    justify-self: center;
  }

  .header2 {
    display: grid;

    grid-template-rows: 0.7fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .header2 > p {
    width: 310px;
    text-align: center;
    margin-bottom: 62px;
    row-gap: 34px;
  }
  .header2 > h1 {
    color: hsl(210, 10%, 33%);
    width: 320px;
    text-align: center;
  }

  .flex-grid-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
  }
  .left-container > img {
    width: 320px;
  }
  .alpha-header1 {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    font-size: 15px;
  }
  .alpha1 > p {
    text-align: center;
    width: 320px;
  }
  .alpha2 > p {
    text-align: center;
    width: 320px;
  }
  .alpha3 > p {
    text-align: center;
    width: 320px;
  }
  .right-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    justify-content: center;
    align-content: center;
    width: fit-content;
  }

  .alpha1 {
    align-content: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    margin-right: 100px;
  }
  .alpha2 {
    display: grid;
    grid-template-rows: 0.6fr 1fr;
  }
  .alpha3 {
    display: grid;
    grid-template-rows: 0.6fr 1fr;
  }

  .flex-grid-3 > h1 {
    width: 320px;
    text-align: center;
  }
  .flex-grid-3 > p {
    width: 320px;
    text-align: center;
  }
  .device > img {
    width: 320px;
  }
  .supercharge > h1 {
    width: 320px;
    text-align: center;
  }
  .supercharge > p {
    width: 320px;
    text-align: center;
  }
  .tricontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .triitem1 > p {
    width: 320px;
  }
  .triitem2 > p {
    width: 320px;
  }
  .triitem3 > p {
    width: 320px;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-grid-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-grid-4 > h1 {
    width: 320px;
    text-align: center;
    font-size: 30px;

    align-self: center;
  }
  .flex-grid-4 > p {
    width: 320px;
    text-align: center;
    font-size: 16.8px;
  }
  .last-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
  }
  .last-container > img {
    margin-bottom: 34px;
    margin-top: 50px;
  }
  .instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
  }
  .footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
  }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 50px;
  }
}
