* {
  padding: 0;
  margin: 0;
}
/* .full-container{
  background-color: red;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
} */
body {
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
}
.flex-grid-1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  /* background-color: darkblue; */
  margin-top: 107px;
  /* margin-bottom: 70px; */
}
.item1 {
  align-self: flex-start;
  /* background-color: saddlebrown; */
}
.item2 {
  /* background-color: rebeccapurple; */
  align-self: flex-end;
  font-size: x-large;
  color: hsl(210, 10%, 33%);
}
.item3 {
  align-self: center;
  /* background-color: pink; */
  font-size: x-large;
  width: 810px;
  text-align: center;
  font-weight: bold;
  color: hsl(201, 11%, 66%);
}
.item4 {
  align-self: flex-start;
}
.fon-1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fon-2 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.item4 > button {
  padding: 20px;
  width: 250px;
  border-radius: 34px;
}
button {
  font-size: large;
  font-weight: bolder;
  color: white;
  border: none;
}
.btn1 {
  background-color: hsl(171, 66%, 44%);
  margin-right: 25px;
  box-shadow: 0px 10px 30px 1px hsl(171, 68%, 81%);
}
.btn2 {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 10px 30px 1px hsl(203, 19%, 86%);
}

.text-m {
  color: hsl(201, 11%, 66%);
  line-height: 28px;
}
.header2 {
  display: grid;
  /* text-align: center; */
  grid-template-rows: 0.7fr 1fr;
  justify-items: center;
  align-items: center;
  /* row-gap: 3px ;  */
}
.header2 > p {
  width: 630px;
  text-align: center;
  margin-bottom: 62px;
  row-gap: 34px;
}
.header2 > h1 {
  color: hsl(210, 10%, 33%);
}
.alpha-header1 {
  font-size: larger;
  /* row-gap: 34px; */
  /* align-self: flex-start; */
  /* width: 30px; */
  color: hsl(210, 10%, 33%);
}
.alpha1 > p {
  color: hsl(201, 11%, 66%);
  width: 33ch;
  line-height: 27px;
}

.alpha2 > p {
  color: hsl(201, 11%, 66%);
  width: 33ch;
  line-height: 27px;
}
.alpha3 > p {
  color: hsl(201, 11%, 66%);
  width: 33ch;
  line-height: 27px;
  /* font-size: 18px; */
}
.flex-grid-2 {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}

.right-container {
  display: grid;
  grid-template-rows: 1fr 0.1fr 1fr;
  /* background-color: red; */
  justify-items: left;
  align-items: center;
  width: 50%;
  /* margin-left: 50px; */
}

.alpha1 {
  /* background-color: saddlebrown; */
  /* align-self: center; */
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  margin-left: 100px;
}
.alpha2 {
  /* background-color: sandybrown; */
  /* align-self: center; */
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  margin-left: 100px;
}
.alpha3 {
  /* background-color: seagreen; */
  /* align-self: flex-start; */
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  margin-left: 100px;
}

.flex-grid-3 {
  display: grid;
  grid-template-rows: 0.7fr 1.8fr;
  justify-items: center;
  align-items: center;
  margin: 105px 0;
}

.flex-grid-3 > h1 {
  color: hsl(210, 10%, 33%);
}
.flex-grid-3 > p {
  color: hsl(201, 11%, 66%);
  width: 60ch;
  text-align: center;
  line-height: 27px;
}
.device {
  margin-top: 70px;
}
.supercharge {
  display: grid;
  grid-template-rows: 1fr 1.4fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 50px;
}
.supercharge > p {
  color: hsl(201, 11%, 66%);
}
.supercharge > h1 {
  color: hsl(210, 10%, 33%);
}
.tricontainer {
  /* background-color: red; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* height: 490px; */
  width: 75%;
  margin: 0 auto;
  gap: 34px;
  margin-bottom: 90px;
}
.triitem1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 55ch;
  text-align: center;
}
.triitem2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 55ch;
  text-align: center;
}
.triitem3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 55ch;
  text-align: center;
}
.triitem1 > h2 {
  color: hsl(210, 10%, 33%);
}
.triitem2 > h2 {
  color: hsl(210, 10%, 33%);
}
.triitem3 > h2 {
  color: hsl(210, 10%, 33%);
}
.triitem1 > p {
  color: hsl(201, 11%, 66%);
  line-height: 27px;
  /* align-items: flex-end; */
  /* align-self: ; */
}
.triitem2 > p {
  color: hsl(201, 11%, 66%);
  line-height: 27px;
  align-self: flex-start;
}
.triitem3 > p {
  color: hsl(201, 11%, 66%);
  line-height: 27px;
  align-self: flex-start;
}

.links {
  display: flex;
  /* gap: 23px; */
  justify-content: center;
  gap: 100px;
  margin-bottom: 90px;
}
.flex-grid-4 {
  display: grid;
  grid-template-rows: 1fr 2fr 1.7fr;
  justify-items: center;
  align-items: flex-start;
  gap: 34px;
  margin-bottom: 80px;
}
.flex-grid-4 > h1 {
  color: hsl(210, 10%, 33%);
  align-self: flex-end;
}
.flex-grid-4 > p {
  color: hsl(201, 11%, 66%);
  width: 58ch;
  text-align: center;
  line-height: 27px;
}
.last-container {
  background-color: hsl(210, 12%, 97%);
  display: grid;
  grid-template-columns: 1fr 2fr 1.6fr;
  justify-items: center;
  align-items: center;
  height: 155px;
  /* width: 100%; */
}
.instruction {
  display: grid;
  /* grid-template-rows: 1fr 1fr 1fr ; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* align-items: flex-start; */
  /* background-color: aquamarine; */
  justify-items: center;
  align-items: center;
  /* justify-items: flex-start; */
  /* justify-self: flex-start; */
  width: 100%;
  /* row-gap: 23px; */

  /* width: 100px; */
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  /* background-color: red; */
}
.footer1,
.footer2,
.footer3 {
  color: hsl(201, 11%, 66%);
  /* line-height: 40px; */
  /* background-color: red; */
}
.footer1,
.footer2,
.footer3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: flex-start;
  gap: 23px;
}

@media screen and (max-width: 1400px) {
  body {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-color: navajowhite;
    border: 3px solid red;
  }
  .full-container {
    /* background-color: red; */
  }
  .flex-grid-1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* background-color: darkblue; */
    margin-top: 107px;
    /* margin-bottom: 70px; */
  }
  .item1 {
    align-self: flex-start;

    /* width: 1; */
    /* background-color: saddlebrown; */
  }
  .item2 {
    /* background-color: rebeccapurple; */
    align-self: flex-end;
    font-size: 15px;
    color: hsl(210, 10%, 33%);
    width: 330px;
    text-align: center;
  }
  .item3 {
    align-self: center;
    /* background-color: pink; */
    font-size: 16px;
    width: 325px;
    text-align: center;
    font-weight: bold;
    color: hsl(201, 11%, 66%);
    text-align: center;
    line-height: 27px;
  }
  .item4 {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 100px;
    /* width:; */
  }
  .item4 > button {
    width: 310px;
  }

  .header2 {
    display: grid;
    /* text-align: center; */
    grid-template-rows: 0.7fr 1fr;
    justify-items: center;
    align-items: center;
    /* row-gap: 3px ;  */
  }
  .header2 > p {
    width: 310px;
    text-align: center;
    margin-bottom: 62px;
    row-gap: 34px;
  }
  .header2 > h1 {
    color: hsl(210, 10%, 33%);
    width: 320px;
    text-align: center;
  }

  .flex-grid-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
  }
  .left-container > img {
    /* background-color: red; */
    width: 320px;
  }
  .alpha-header1 {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    font-size: 15px;
  }
  .alpha1 > p {
    text-align: center;
  }
  .alpha2 > p {
    text-align: center;
  }
  .alpha3 > p {
    text-align: center;
  }
  .right-container {
    display: grid;
    grid-template-rows: 1fr 0.1fr 1fr;
    /* background-color: red; */
    justify-content: center;
    align-content: center;
    width: fit-content;
    /* width: 50%; */
    /* margin-left: 50px; */
    /* background-color: red; */
  }
  .flex-grid-3 > h1 {
    width: 320px;
    text-align: center;
  }
  .flex-grid-3 > p {
    width: 320px;
    text-align: center;
  }
  .device > img {
    width: 320px;
  }
  .supercharge > h1 {
    width: 320px;
    text-align: center;
  }
  .supercharge > p {
    width: 320px;
    text-align: center;
  }
  .tricontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .triitem1 > p {
    width: 320px;
  }
  .triitem2 > p {
    width: 320px;
  }
  .triitem3 > p {
    width: 320px;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex-grid-4 > h1 {
    width: 320px;
    text-align: center;
    font-size: 30px;
  }
  .flex-grid-4 > p {
    width: 320px;
    text-align: center;
    font-size: 16.8px;
  }
  .last-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .instruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
    /* row-gap: 33px; */
  }
  .footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 45px;
  }
}
